<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minhaz.muhammad.drbatol">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FitnessUpdateTaskActivity"></activity>
        <activity android:name=".FitnessAddTaskActivity" />
        <activity android:name=".FitnessActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PrivateUpdateTaskActivity" />
        <activity android:name=".PrivateAddTaskActivity" />
        <activity android:name=".UpdateTaskActivity" />
        <activity android:name=".StudyAddTaskActivity" />
        <activity
            android:name=".StudyPlannerActivity"
            android:label="@string/title_activity_study_planner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MotivationalQuotesActivity" />
        <activity android:name=".PrivateLifePlannerActivity" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>